.user-search-container {
    margin: 0 auto;

    .user-search-input {
        font-size: 1.2em;
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
    }

    .user-search-results-wrapper {
        border: solid 2px #bdbdbd;

        .user-record {
            padding: 20px;
            border-bottom: solid 1px #bdbdbd;

            .user-details {
                display: inline-flex;
                vertical-align: middle;
                flex-direction: column;
                justify-content: flex-start;

                .user-name {
                    font-weight: bold;
                }
            }

            &.no-users {
                color: #bdbdbd;
                font-weight: bold;
            }

            &:nth-of-type(even) {
                background-color: #e6e6e6;
            }

            &:nth-last-of-type(1) {
                border: none;
            }
        }
    }
}