.App {
    min-height: 100vh;
    background-color: #111111;
    text-align: center;
    font-size: 16px;

    .brand {
        color: rgb(132, 132, 220);
    }

    .box {
        margin: 15px;
        width: 500px;
        padding: 30px;
        background: #fff;
        border: solid 3px #585858;
    }

    .flex-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        width: 100%;
    }

    input,
    button {
        padding: 8px;
        background-color: white;
        border: solid 2px #bdbdbd;
        box-sizing: border-box;
        font-size: inherit;
        color: #111111;
    }

    button {
        margin: 20px 0;
        background-color: #e6e6e6;
        font-weight: bold;
        cursor: pointer;

        &:hover {
            filter: brightness(85%);
        }
    }

    .main-container {
        margin: 0 auto;
        width: 100%;
        max-width: 2000px;

        .content-container {
            padding: 30px 50px;
            background: #bdbdbd;
        }

        .footer {
            color: #BDBDBD;
            padding: 40px 50px 75px 50px;
        }
    }
}